<div layout="column"
     layout-padding>
    <md-content>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Clustering Parameters</h2>
            </div>
        </md-toolbar>
        <form name="clusteringForm"
              layout-padding>
            <md-input-container>
                <label>Entity Groups #</label>
                <input required name="entityTypes"
                       ng-model="viewCtrl.nGroups">
            </md-input-container>
            <md-input-container>
                <label>Entities Per Group</label>
                <input required name="entitiesPerType"
                       ng-model="viewCtrl.nEntitiesPerGroup">
            </md-input-container>
            <md-input-container>
                <label>Clustering Radius (px)</label>
                <input required name="clusteringRadius"
                       ng-model="viewCtrl.clusteringRadius">
            </md-input-container>
            <div class="md-actions"
                 layout="row">
                <span flex></span>

                <md-button md-no-ink class="green-button"
                           ng-click="clusteringForm.$valid && viewCtrl.submit()">
                    Start demo
                </md-button>
            </div>
        </form>


    </md-content>
</div>